<div class="container">
<div class="comment_content">
  <% @comments.each do |comment| %>
  <strong> <%= current_user.username %> </strong> 

  <%= comment.body %> 
   <%= time_ago_in_words(comment.created_at) %>
   <br/> 
  <% end %>
</div>
</div>